body {
  color: #3c4043;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-nav-ul, .right-nav-ul {
  display: flex;
  align-items: center;
  margin: 0.8rem 1.3rem;
  
}

.left-nav-ul>li, .right-nav-ul>li{
  padding: 0.6rem;
}

.nav-bar a {
  color: #000;
}
.nav-bar a:visited {
  color: #000;
}

#block-icon {
  opacity: 0.55;
  padding: 0 0.2rem;
}

#account {
  padding: 0 0.3rem;
}

#block-icon:hover {
  opacity: 0.85;
}

#logo {
  padding: 83px 0 20px 0;
}

.search-container {
  display: flex;
  width: 484px;
  height: 44px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  align-items: center;
  justify-content:space-evenly
}

.search-container:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
  border-color: rgba(223, 225, 229, 0);
}
input[type=text] {
  border: none;
  outline: none;
  width: 387px;
}

.search-icon{
  width: 20px;
  height: 20px;
}
.mic {
  width: 20px;
  height: 20px;
  cursor:pointer;
}


button {
  background: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
  user-select: none;
}

button:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border: 1px solid #dadce0;
  color: #202124;
}

.button-container {
  padding: 18px;
}

.language {
  font-size: 13px;
  margin-bottom: 80px;
}

.footer{
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  height: 36px;
  background: #f2f2f2;
  align-items: center;
  color: #7075a1;
}

.footer-left, .footer-right{
  display: flex;
  margin: 0 16px;
}

.footer-left li, .footer-right li{
  padding: 0 16px;
}

.footer a:visited {
  color: #7075a1;
}
.footer a:hover, .nav-bar a:hover{
  text-decoration: underline;
}